/*/Assets/UPM/package-lock.json.meta
/*/Assets/UPM/package-lock.json
/*/Assets/server.json
/*/Assets/server.json.meta
/*/.vs
/*/.vsconfig
/*/UserSettings
/*/Library
/*/Logs
/*/obj
/*/Temp
/*/Exe
/*/WebGL
/*/*.log
/*/*.apk
/*/*.csproj
/*/*.sln
/*/*.user
